* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    background: #1f1f1f;
    background-size: 45px 45px;
    background-image: linear-gradient(to right, #293a50 1px, transparent 1px),
    linear-gradient(to bottom, #293a50 1px, transparent 1px);
}
.sun {
    width: 100px;
    height: 100px;
    background: radial-gradient(#f09819, #ff512f);
    border-radius: 50%;
    box-shadow: -4px 2px 56px orange;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.mercury_orbit {
    width: 150px;
    height: 150px;
}
.mercury_planet {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: rgb(155, 88, 0);
    position: absolute;
    top: 44%;
    left: 44%;
    transform: translate(-50%, -50%);
    animation: mercuryOrbit 5s linear infinite;
}
@keyframes mercuryOrbit {
    from{
        transform: rotate(360deg) translateX(75px) rotate(-360deg);
    }
    to{
        transform: rotate(0deg) translateX(75px) rotate(0deg);
    }
}
.mercury_orbit,
.venus_orbit,
.earth_orbit,
.mars_orbit,
.jupiter_orbit,
.saturn_orbit,
.uranus_orbit,
.neptune_orbit {
    border: 1px dotted rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: transparent;
}

.venus_orbit{
    width: 210px;
    height: 210px
}

.venus_planet{
    width: 29px;
    height: 29px;
    background: rgb(134, 173, 134);
    border-radius: 50%;
    position: absolute;
    top: 43%;
    left: 43%;
    transform: translate(-50%,-50%);
    animation: venusOrbit 8s linear infinite;
}

@keyframes venusOrbit {
    from{
        transform: rotate(0deg) translateX(105px) rotate(0deg);
    }
    to{
        transform: rotate(360deg) translateX(105px) rotate(-360deg);
    }
}

.earth_orbit{
    width: 300px;
    height: 300px
}

.earth_planet {
    width: 34px;
    height: 34px;
    background: rgb(0, 217, 255);
    position: absolute;
    border-radius: 50%;
    top: 44%;
    left: 44%;
    transform: translate(-50%-50%);
    animation: earthOrbit 12s linear infinite;
}

@keyframes earthOrbit {
    from{
        transform: rotate(0deg) translateX(150px) rotate(0deg);
    }
    to{
        transform: rotate(360deg) translateX(150px) rotate(-360deg);
    }
}

.mars_orbit {
    width: 400px;
    height: 400px;
}

.mars_planet {
    width: 23px;
    height: 23px;
    background: red;
    position: absolute;
    border-radius: 50%;
    top: 47%;
    left: 47%;
    transform: translate(-50%-50%);
    animation: marsOrbit 11s linear infinite;
}

@keyframes marsOrbit {
    from{
        transform: rotate(0deg) translateX(200px) rotate(0deg);
    }
    to{
        transform: rotate(360deg) translateX(200px) rotate(-360deg);
    }
}

.jupiter_orbit {
    width: 500px;
    height: 500px;
}

.jupiter_planet {
    width: 48px;
    height: 48px;
    background: rgb(110, 83, 32);
    border-radius: 50%;
    position: absolute;
    top: 46%;
    left: 46%;
    transform: translate(-50%-50%);
    animation: jupiterOrbit 6s linear infinite;    
}

@keyframes jupiterOrbit {
    from{
        transform: rotate(0deg) translateX(250px) rotate(0deg);
    }
    to{
        transform: rotate(360deg) translateX(250px) rotate(-360deg);
    }
}

.saturn_orbit {
    width: 630px;
    height: 630px;
}

.saturn_planet {
    height: 43px;
    width: 43px;
    background: yellow;
    border-radius: 50%;
    position: absolute;
    top: 47%;
    left: 47%;
    transform: translate(-50%-50%);
    animation: saturnOrbit 13s linear infinite;
}

@keyframes saturnOrbit {
    from{
        transform: rotate(0deg) translateX(315px) rotate(0deg);
    }
    to{
        transform: rotate(360deg) translateX(315px) rotate(-360deg);
    }
}

.uranus_orbit {
    width: 750px;
    height: 750px;
}

.uranus_planet {
    width: 40px;
    height: 40px;
    background: blue;
    border-radius: 50%;
    position: absolute;
    top: 47%;
    left: 47%;
    transform: translate(-50%-50%);
    animation: uranusOrbit  17s linear infinite;
}

@keyframes uranusOrbit {
    from{
        transform: rotate(0deg) translateX(375px) rotate(0deg);
    }
    to{
        transform: rotate(360deg) translateX(375px) rotate(-360deg);
    }
}

.neptune_orbit {
    width: 850px;
    height: 850px;
}

.neptune_planet {
    width: 38px;
    height: 38px;
    background: purple;
    border-radius: 50%;
    position: absolute;
    top: 48%;
    left: 48%;
    transform: translate(-50%-50%);
    animation: neptuneOrbit 17s linear infinite;
}

@keyframes neptuneOrbit {
    from{
        transform: rotate(0deg) translateX(421px) rotate(0deg);
    }
    to{
        transform: rotate(360deg) translateX(421px) rotate(-360deg);
    }
}